.firstStep {
  color: rgb(64, 65, 65);
  text-decoration: underline;
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  cursor: grabbing;
}
img:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.topnav {
  border: 10px;
  border-color: black;
  background-color: darkgrey;
  overflow: hidden;
  align-content: center;
  padding: 15px;
}

.topnav > a {
  border: 8px;
  border-color: black;
  width: 100px;
  border-radius: 40px;
  font-style: italic;
  background-color: beige;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  padding: 16px 20px;
  margin-right: 10px;
}

.topnav a:hover {
  transform: scale(1.2);
  transition: 0.4s;
  background-color: rgb(226, 140, 108);
  color: rgb(69, 74, 74);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.stepTwo {
  text-justify: center;
  color: rgb(64, 65, 65);
  text-decoration: underline;
  font-style: italic;
  font-size: 35px;
}
.listIngredients {
  background-color: lightgrey;
  width: auto;
  border: 5px solid rgb(144, 154, 144);
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
  font-size: 25px;
  text-shadow: 10px;
  text-shadow: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.stepThree {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.textDescriere {
  margin-left: 20px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0);
}

.foo {
  color: rgb(0, 0, 0);
  text-align: justify;

  margin-right: 20px;
}

.numburingText1 {
  color: rgb(0, 0, 0);
}

ol.numburingText1 {
  list-style-type: none;
  counter-reset: test5;
}

ol.numburingText1 > li:before {
  content: counter(test5) ".";
  counter-increment: test5;
}

ol.numburingText2 {
  list-style-type: none;
  counter-reset: test6;
}

ol.numburingText2 > li:before {
  content: counter(test5) "." counter(test6);
  counter-increment: test6;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.fa-twitter {
  background: #55acee;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
